<footer class="footer" itemscope itemtype="http://schema.org/WPFooter">

    <div class="copyright">
    	<% if(theme.site.copyright) { %>
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <% } %>
        <div class="publishby">
        	 <a> Have a Nice Day</a>.
            
        </div>
    </div>
</footer>